@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: black;
    font-family: 'inter';
}

.blur-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    filter: blur(4px); /* Adjust blur intensity as needed */
  }
  
  .blur {
    display: none; /* Hides the blur-border element */
  }